@font-face {
  font-family: 'Raleway';
  src: url('fonts/Raleway-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('fonts/Raleway-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('fonts/Raleway-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

:root {
  --cv-color: #58748F;
  --cv-text:  #333;
}

body {
  font-family: 'Raleway', sans-serif;
  font-variant-numeric: lining-nums;
  color: var(--cv-text);
  line-height: 1.3;
  font-size: 11pt;
}

@page {
  size: A4;
  margin: 1in 0.8in;
}

/* Section headings */
h2 {
  color: var(--cv-color);
  font-weight: bold;
  margin-top: 1.2em;
  margin-bottom: 0.3em;
  padding-bottom: 0.1em;
  border-bottom: 2px solid var(--cv-color);
}

/* Role and dates */
.cvdate {
  float: right;
  color: var(--cv-color);
  font-style: italic;
  margin-left: 1em;
}

/* Lists and bullets */
ul {
  margin: 0.2em 0 0.6em 0;
  padding-left: 1.2em;
}
li {
  margin-bottom: 0.2em;
}
li::marker {
  color: var(--cv-color);
}

/* Utility classes */
.clear { clear: both; }
